.calculator {
  margin-bottom: 110px;

  @media (max-width: 1023px) {
    margin-bottom: 80px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 767px) {
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.calculator__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;

  @media (max-width: 1023px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.calculator__custom-calculator-wrap {
  margin-top: 36px;

  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.calculator__form {
  flex-grow: 1;
  max-width: 600px;
  margin-right: 70px;

  @media (max-width: 1023px) {
    max-width: none;
    margin-right: 0;
  }
}

.calculator__custom-calculator-container {
  transition: opacity 0.3s;
  opacity: 1;
}

.calculator__step_margin {
  // margin-bottom: 36px;

  // @media (max-width: 767px) {
  //   margin-bottom: 25px;
  // }
}

.calculator__input-container {
  display: flex;
  flex-direction: column;
}

.calculator__input {
  width: 100%;
  height: 60px;
  border: 1px solid $black;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: border-color 0.3s;

  @media (max-width: 1023px) {
    font-size: 16px;
  }
}

.calculator__input:focus {
  border-color: $blue;
}

.calculator__label {
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  color: #394959;
  user-select: none;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.calculator__offer {
  width: 500px;
  height: 389px;
  border: 1px solid black;
}

.calculator__title {
  margin-bottom: 57px;
  font-size: 41px;
  font-weight: bold;

  @media (max-width: 1023px) {
    margin-bottom: 34px;
    font-size: 32px;
  }

  @media (max-width: 767px) {
    margin-bottom: 26px;
    font-size: 22px;
  }
}

.calculator__legend {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: bold;

  @media (max-width: 1023px) {
    margin-bottom: 21px;
    font-size: 18px;
  }

  @media (max-width: 767px) {
    margin-bottom: 17px;
    font-size: 16px;
  }
}

.calculator__input-wrap {
  margin-bottom: 10px;
}

.input-checkbox {
  display: none;
}

.input-checkbox:checked + .checkbox-label_square {
  &:before {
    background-color: $blue;
    background-image: url("../img/check-mark.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.checkbox-label_square {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  @media (max-width: 767px) {
    font-size: 14px;
  }

  &:before {
    content: "";
    display: block;
    margin-right: 10px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid $blue;
    background-color: $white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.calculator__input-wrap {
  position: relative;
}

.calculator__step-down {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background: $black;
    transform: translate(-50%, -50%);
  }
}

.calculator__step-up {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer;

  @media (max-width: 767px) {
    right: 0px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background: $black;
    transform: translate(-50%, -50%);
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 16px;
    background: $black;
    transform: translate(-50%, -50%);
  }
}

.calculator__input_price_invalid {
  border: 1px solid red;
}

.calculator__invalid-input-message {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  pointer-events: none;
  white-space: nowrap;
}

.calculator__range-extra-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  font-size: 14px;
  color: $grey;

  @media (max-width: 1023px) {
    margin-bottom: 17px;
  }

  @media (max-width: 767px) {
    margin-bottom: 11px;
  }
}

.calculator__range_term {
  margin-bottom: -7px;
}

.calculator__range-extra-text_term {
  margin-bottom: 0;
}

.calculator__input-container_term {
  margin-bottom: 26px;

  @media (max-width: 1023px) {
    margin-bottom: 22px;
  }

  @media (max-width: 1023px) {
    margin-bottom: 18px;
  }
}

.calculator__extra-options-casco__margin {
  margin-bottom: 10px;
}
