.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.menu_burger {
  @media (max-width: 767px) {
    position: relative;
    order: -1;
    width: 16px;
    height: 10px;
    margin-left: 15px;
    cursor: pointer;

    .menu__item a {
      display: none;
    }

    .menu__item {
      position: absolute;
      width: 16px;
      height: 1px;
      background-color: $black;
      transition: background-color 0.3s ease;
    }

    .menu__item:first-child {
      top: 0px;
    }

    .menu__item:nth-child(3) {
      top: 10px;
    }

    &:hover {
      .menu__item {
        background-color: $blue;
      }
    }
  }
}

.menu__link {
  color: $black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;

  @media (max-width: 1023px) {
    font-size: 14px;
  }

  &:hover {
    color: $blue;
  }
}

.menu_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  font-weight: bold;

  @media (max-width: 1023px) {
    position: relative;
    top: -35px;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    position: static;
  }
}

.menu__item_margin-bottom {
  margin-right: 0;

  @media (max-width: 1023px) {
    margin-bottom: 13px;
  }
}

.menu__item_margin-right {
  margin-right: 25px;
  margin-bottom: 0px;

  @media (max-width: 1023px) {
    margin-right: 20px;
  }
}
