.offer {
  width: 500px;
  height: 389px;
  padding: 60px;
  background-color: $white;
  transition: opacity 0.3s;
}

.offer__title {
  margin-bottom: 29px;
  font-size: 22px;
}

.offer__terms {
  display: grid;
  grid-template-columns: auto minmax(auto, max-content);
  row-gap: 30px;
  margin-bottom: 37px;
}

.offer__item {
}

.offer__value {
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: bold;
}

.offer__label {
  font-size: 16px;
  color: #394959;
}

.offer__button {
  width: 100%;
  height: 51px;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
