.page-main {
  box-sizing: content-box;
  max-width: 1170px;
  margin: auto;
  padding: 60px 100px 110px;

  @media (max-width: 1023px) {
    padding: 0 0 80px 0;
  }

  @media (max-width: 767px) {
    padding: 0 0 60px 0;
  }
}
