.page-header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: $white;

  @media (max-width: 1023px) {
    height: 69px;
  }

  @media (max-width: 767px) {
    height: 48px;
  }
}

.logo {
  display: block;
  position: relative;
  top: -5px;
  height: 30px;
  margin-left: 60px;
  margin-right: 60px;

  @media (max-width: 1023px) {
    top: 2px;
    margin-left: 45px;
    margin-right: 66px;
  }

  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.logo__image {
  width: 149px;
  height: 30px;

  @media (max-width: 1023px) {
    width: 133px;
    height: 24px;
  }

  @media (max-width: 767px) {
    width: 118px;
    height: 21px;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 767px) {
    position: relative;
    order: -1;
    width: 16px;
    height: 10px;
    margin-left: 15px;
    cursor: pointer;

    .menu__item a {
      display: none;
    }

    .menu__item {
      position: absolute;
      width: 16px;
      height: 1px;
      background-color: $black;
      transition: background-color 0.3s ease;
    }

    .menu__item:first-child {
      top: 0px;
    }

    .menu__item:nth-child(3) {
      top: 10px;
    }

    &:hover {
      .menu__item {
        background-color: $blue;
      }
    }
  }
}

.menu__item {
  margin-right: 25px;

  @media (max-width: 1023px) {
    margin-right: 20px;
  }
}

.menu__link {
  color: $black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;

  @media (max-width: 1023px) {
    font-size: 14px;
  }

  &:hover {
    color: $blue;
  }
}

.enter-button {
  position: relative;
  width: 20px;
  height: 22px;
  margin-right: 280px;
  margin-left: auto;
  padding: 0;
  background: url("../img/enter-icon.svg") no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateX(5px);
  }

  @media (max-width: 1023px) {
    margin-right: 45px;
  }

  @media (max-width: 767px) {
    width: 17px;
    height: 16px;
    margin-right: 15px;
    background-size: contain;
  }

  &:before {
    content: "Войти в Интернет-банк";
    position: absolute;
    top: 3px;
    left: 30px;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;

    @media (max-width: 1023px) {
      content: "";
    }
  }
}
