.refuse {
  flex-shrink: 7;
  align-self: flex-start;
  max-width: 500px;
  padding: 60px;
  background-color: $white;

  @media (max-width: 1023px) {
    width: 100%;
    max-width: none;
  }

  @media (max-width: 767px) {
    padding: 40px 15px;
  }
}

.refuse__title {
  margin-bottom: 40px;
  font-size: 22px;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.refuse__text {
  font-size: 16px;
  color: #394959;
}
