.slider {
  position: relative;
  height: 400px;
  overflow: hidden;

  @media (max-width: 1023px) {
    height: 300px;
  }

  @media (max-width: 767px) {
    height: 226px;
  }
}

.slider__slides {
  display: flex;
  width: 300%;
  height: 100%;
  // transform: translateX(-100vw);
}

.shifting {
  transition: transform 0.3s ease;

  + .controls {
    pointer-events: none;
  }
}

.slider__slide {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  max-width: 33.3333%;
}

.slider__content {
  width: 100%;
  height: 100%;
  max-width: 1366px;
  margin: auto;
  padding: 104px 267px 0;

  @media (max-width: 1023px) {
    max-width: 767px;
    padding: 66px 86px 0;
  }

  @media (max-width: 767px) {
    max-width: 548px;
    padding: 41px 15px 0;
  }
}

.slider__content_slider-1 {
  background-color: $blue;
  background-image: url("../img/credit-cards.png"),
    linear-gradient(rgba(56, 65, 255, 0) 0%, #3841ff 100%),
    linear-gradient(rgba(32, 39, 179, 0) 32.81%, #2027b3 100%),
    linear-gradient(rgba(32, 39, 179, 0) 36.25%, #2027b3 100%),
    linear-gradient(rgba(56, 65, 255, 0) 55.86%, #3841ff 100%);
  background-repeat: no-repeat;
  background-size: 444px 287px, 21% 67%, 23% 100%, 11% 100%, 11% 67.5%;
  background-position: 75.6% 62px, 72% 100%, right, left, 11.8% bottom;

  @media (max-width: 1023px) {
    background-image: url("../img/credit-cards.png"),
      linear-gradient(rgba(56, 65, 255, 0) 0%, #3841ff 100%),
      linear-gradient(rgba(32, 39, 179, 0) 32.81%, #2027b3 100%);
    background-size: 348px 221px, 23% 67%, 23% 100%;
    background-position: 83.6% 42px, 77.4% 100%, right;
  }

  @media (max-width: 767px) {
    background-image: url("../img/credit-cards.png");
    background-size: 348px 211px;
    background-position: 216px -10px;
  }
}

.slider__content_slider-2 {
  background-image: url("../img/man-slide-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 77.7%;

  @media (max-width: 1023px) {
    background-position: 86.6%;
  }

  @media (max-width: 767px) {
    //112.6%
    background-position: 150px, left;
  }
}

.slider__content_slider-3 {
  background-image: url("../img/woman-slide-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 76.4%;

  @media (max-width: 1023px) {
    background-position: 90%;
  }

  @media (max-width: 767px) {
    //background-position: 115.6%;
    background-position: 158px;
  }
}

.slider__slide-1 {
  background-color: $blue;
  background-image: linear-gradient(
    180.33deg,
    rgba(32, 39, 179, 0) 32.89%,
    #2027b3 99.79%
  );
}

.slider__slide-2 {
  background-image: linear-gradient(to right, #dde2ec 40%, #f2f8ff);
}

.slider__slide-3 {
  background-color: #e6f1fe;
}

.slide__title {
  margin-top: 0;
  margin-bottom: 8px;
  color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  font-weight: bold;

  @media (max-width: 1023px) {
    font-size: 46px;
  }

  @media (max-width: 767px) {
    font-size: 38px;
  }
}

.slide__tagline {
  margin-top: 0;
  margin-bottom: 35px;
  color: #e0e1ea;
  font-family: "Roboto", sans-serif;
  font-size: 22px;

  @media (max-width: 1023px) {
    margin-bottom: 30px;
    font-size: 18px;
  }

  @media (max-width: 767px) {
    max-width: 190px;
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.slide__button {
  padding: 17px 33px;
  width: 234px;
  height: 53px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  @media (max-width: 1024px) {
    width: 212px;
    height: 48px;
    padding: 15px 31px;
    font-size: 16px;
  }

  @media (max-width: 767px) {
    width: 190px;
    height: 43px;
    font-size: 14px;
  }
}

.slide__title_black-color-text,
.slide__tagline_black-color-text {
  color: $black;
}

.slide__button_color-blue {
  width: 243px;
  background-color: $blue;
  font-weight: normal;
  color: $white;

  &:hover {
    background-color: $blue-light;
  }

  @media (max-width: 767px) {
    width: 188px;
  }
}

.slide__button_color-white {
  color: $black;
  background-color: $white;

  &:hover {
    background-color: $blue-light;
  }
}

.controls {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  transform: translateX(-50%);

  @media (max-width: 1023px) {
    bottom: 15px;
    pointer-events: none;
  }

  @media (max-width: 767px) {
    bottom: 10px;
  }
}

.controls__item:not(:last-child) {
  margin-right: 8px;

  @media (max-width: 767px) {
    margin-right: 6px;
  }
}

.controls__button input {
  display: none;
}

.controls__button label {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #2028b6;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (max-width: 767px) {
    width: 6px;
    height: 6px;
  }
}

.controls__button input:checked + label {
  background-color: $white;
}

.controls__item:last-child .controls__button input:checked + label {
  background-color: #e0e0e0;
}
