* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
legend,
span,
output {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
button {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 37px !important;
  border: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: $grey-light;
  border-radius: 1.3px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $grey-light;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;

  background: $grey-light;
  border-radius: 1.3px;
}
input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: $grey-light;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: $grey-light;
}
input[type="range"]:focus::-ms-fill-upper {
  background: $grey-light;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  opacity: 0;
  white-space: nowrap;
  word-wrap: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden_mobile {
  @media (min-width: 1023px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    opacity: 0;
    white-space: nowrap;
    word-wrap: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
